@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* === Basic colors === */
  --color-primary: #C7FF00;
  --color-primary-hover: #A3E000;
  --color-secondary: #00C6FF;
  --color-secondary-hover: #0099CC;

  /* === Background and navbar === */
  --color-background: #0E1013;
  --color-surface: #1A1C1F;
  --color-navbar: #111315;
  --color-navbar-hover: #1F1F1F;

  /* === Text and links === */
  --color-header: #FFFFFF;
  --color-paragraph: #B0B4BA;
  --color-link: #C7FF00;
  --color-link-hover: #A3E000;

  /* === Button === */
  --color-button-bg: #B6FF00;
  --color-button-hover: #A0E800;
  --color-button-text: #0E1013;

  /* === Fonts === */
  --font-body: "Lato", sans-serif;
  --font-heading: "Poppins", sans-serif;
} 

html {
    scroll-behavior: smooth;
} 

main {
    @apply max-w-[1920px] mx-auto
}

body {
    @apply bg-background text-paragraph font-sans transition-colors duration-500
}

h1,h2,h3,h4 {
    @apply font-heading text-header
}

p {
  @apply text-paragraph;
}

a {
  @apply text-link hover:text-link-hover transition-colors;
}

section {
    @apply p-2 my-2 mx-1
}

/* === Navbar === */
.navbar {
  @apply bg-navbar text-header flex items-center justify-between px-6 py-4;
}
.navbar a {
  @apply text-link transition-colors duration-200;
}
.navbar a:hover {
  @apply text-link-hover;
}

/* === Footer === */
.footer {
  @apply bg-navbar text-header flex items-center justify-center px-6 py-4;
}
.footer a {
  @apply text-link transition-colors duration-200;
}
.footer a:hover {
  @apply text-link-hover;
}

/* === Buttons === */
.btn-primary {
  @apply bg-primary text-background font-medium px-5 py-2 rounded-full hover:bg-primary-hover transition-colors duration-500;
}
.btn-secondary {
  @apply bg-secondary text-background font-medium px-5 py-2 rounded-lg hover:bg-secondary-hover transition-colors;
}
.btn-surface {
  @apply bg-button-bg text-background px-4 py-2 rounded-lg hover:bg-button-hover transition-colors;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
